{
    "plugins": [ "joyent" ],
    "extends": [
        "eslint:recommended",
        "plugin:joyent/style",
        "plugin:joyent/lint"
    ],
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script",
        "ecmaFeatures": {
        }
    },
    "env": {
        "node": true
    },
    "rules": {
        // Lint:
        "strict": [ "error", "global" ],

        // Style:
        "func-style": [ "error", "declaration" ],

        // Checks disabled as things get slowly cleaned up:
        "consistent-return": "off"
    }
}
